.team-details-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: 100% 100%;
  padding: 100px 50px;
}
.heading {
  font-family: 'Bree Serif';
  color: #ffffff;
  font-size: 45px;
}
.ipl-logo {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}
.dashboard-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .app-container {
    padding: 20px;
  }
}
@media screen and (max-width: 576px) {
  .app-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
    background-size: 100% 100%;
  }
  .image {
    height: 40px;
    width: 40px;
  }
  .heading {
    font-size: 30px;
  }
  .team-details-container {
    width: 100%;
  }
}
